<!-- views/create.ejs -->

<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Lista de empleados</title>
        <!-- Include Bootstrap CSS here -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container mt-5">
            <h1>Crea Empleado</h1>
        <!-- Create Employee Form -->
            <form action="/employee/create" method="post">
                <div class="form-group">
                    <label for="firstName">Nombres:</label>
                    <input type="text" name="firstName" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="lastName">Apellidos:</label>
                    <input type="text" name="lastName" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="correo electrónico">Email:</label>
                    <input type="email" name="email" class="form-control" required>
                </div>
                <button type="submit" class="btn btn-success">Crear</button>
            </form>
        </div>
        <!-- ... (rest of the HTML code) ... -->
    </body>
</html>